<div id="story" class="story-area ptb--100">
  <div class="container">
    <div class="col-l2">
      <div class="section-title text-center">
        <h2>Our Story</h2>
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="story clearfix">
          <div class="story-top"></div>
          <div class="content-wrapper">
            <div class="item">
              <div class="story-icon">
                <span><i class="fa-solid fa-dove fa-xl fa-flip-horizontal"></i></span>
              </div>
              <div class="story-content">
                <div class="image-wrap">
                  <div class="single-image">
                    <div>
                      <img src="../../../assets/image/story/story1.jpg" alt="">
                    </div>
                  </div>
                </div>
                <h2>First time we met</h2>
                <span class="date">July 20, 2017</span>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some,</p>
              </div>
            </div>
            <div class="item">
              <div class="story-icon">
                <span><i class="fa-solid fa-dove fa-xl"></i></span>
              </div>
              <div class="story-content">
                <div class="image-wrap">
                  <div class="single-image">
                    <div>
                      <img src="../../../assets/image/story/story2.jpg" alt="">
                    </div>
                  </div>
                </div>
                <h2>Our First Date</h2>
                <span class="date">Dec 25, 2017</span>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some,</p>
              </div>
            </div>
            <div class="item">
              <div class="story-icon">
                <span><i class="fa-solid fa-dove fa-xl fa-flip-horizontal"></i></span>
              </div>
              <div class="story-content">
                <div class="image-wrap">
                  <div class="single-image">
                    <div>
                      <img src="../../../assets/image/story/story3.jpg" alt="">
                    </div>
                  </div>
                </div>
                <h2>Our Marriage Proposal</h2>
                <span class="date">Jan 10, 2018</span>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some,</p>
              </div>
            </div>
            <div class="item">
              <div class="story-icon">
                <span><i class="fa-solid fa-dove fa-xl"></i></span>
              </div>
              <div class="story-content">
                <div class="image-wrap">
                  <div class="single-image">
                    <div>
                      <img src="../../../assets/image/story/story1.jpg" alt="">
                    </div>
                  </div>
                </div>
                <h2>Our Engagement</h2>
                <span class="date">Jan 22, 2018</span>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some,</p>
              </div>
            </div>
          </div>
          <div class="story-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>