<main class="main">
  <app-header></app-header>
  <div class="content">
    <app-slider></app-slider>
    <app-wedding-countdown></app-wedding-countdown>
    <app-welcome></app-welcome>
    <app-couple></app-couple>
    <app-wedding-guardian></app-wedding-guardian>
    <app-wedding-sponsor></app-wedding-sponsor>
    <app-wedding-party></app-wedding-party>
    <app-wedding-kids></app-wedding-kids>
    <app-wedding-when-where></app-wedding-when-where>
    <app-moodboard></app-moodboard>
    <app-supplier></app-supplier>
    <app-footer></app-footer>
  </div>
</main>