<div id="event">
  <div class="container">
    <div class="col-l2">
      <div class="section-title text-center">
        <h2>When & Where</h2>
        <div class="divider"></div>
      </div>
    </div>

    <div class="venue-wrapper">
      <div class="row">
        <div class="col-lg-5">
          <img src="assets/image/church.jpg">
        </div>
        <div class="col-lg-7">
          <div class="ceromony-content">
            <h3>Wedding Ceremony</h3>
            <span>Saturday, October 25, 2025, 2:00 PM-5.00 PM</span>
            <span>St. Benedict Chaplaincy, Lalud Calapan City</span>
            <span>Oriental Mindoro</span>
            <p>St. Benedict Chaplaincy is a Roman Catholic Church in Apostolic Vicariate of Calapan Oriental Mindoro</p>
            <a target="_blank"
              href="https://www.google.com/maps/place/St.+Benedict+Chaplaincy/@13.3967259,121.1686877,17z/data=!3m1!4b1!4m6!3m5!1s0x33bce8d3339d1545:0x98bf3e71e9fcfc12!8m2!3d13.3967207!4d121.1712626!16s%2Fg%2F11r9qp6kw?entry=ttu&g_ep=EgoyMDI1MDYxNy4wIKXMDSoASAFQAw%3D%3D">
              See Location
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="venue-wrapper">
      <div class="row">
        <div class="col-lg-7">
          <div class="ceromony-content">
            <h3>Reception Party</h3>
            <span>Saturday, October 25, 2025, 5:00 PM-8.00 PM</span>
            <span>Eden Lakeview Resort, Baruyan Calapan City</span>
            <span>Oriental Mindoro</span>
            <p>Eden Lakeview Resort</p>
            <a target="_blank"
              href="https://www.google.com/maps/dir/St.+Benedict+Chaplaincy,+Calapan+City,+Oriental+Mindoro/Eden+Lakeview+Resort,+Sitio+Centro,+Baruyan,+Calapan+City,+Oriental+Mindoro/@13.3772399,121.1458094,9304m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x33bce8d3339d1545:0x98bf3e71e9fcfc12!2m2!1d121.1712262!2d13.3965994!1m5!1m1!1s0x33bcef0009d5ad05:0xde892a27ba626bd8!2m2!1d121.1405526!2d13.3835555!3e0?entry=ttu&g_ep=EgoyMDI1MDYxNy4wIKXMDSoASAFQAw%3D%3D">
              See Location
            </a>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="assets/image/reception-party.jpg">
        </div>
      </div>
    </div>

    <div class="venue-wrapper">
      <div class="row">
        <div class="col-lg-5">
          <img src="assets/image/wedding-party.jpg">
        </div>
        <div class="col-lg-7">
          <div class="ceromony-content">
            <h3>Wedding Party</h3>
            <span>Saturday, October 25, 2025, 5:00 PM-8.00 PM</span>
            <span>Eden Lakeview Resort, Baruyan Calapan City</span>
            <span>Oriental Mindoro</span>
            <p>Eden Lakeview Resort</p>
            <a target="_blank"
              href="https://www.google.com/maps/dir/St.+Benedict+Chaplaincy,+Calapan+City,+Oriental+Mindoro/Eden+Lakeview+Resort,+Sitio+Centro,+Baruyan,+Calapan+City,+Oriental+Mindoro/@13.3772399,121.1458094,9304m/data=!3m1!1e3!4m14!4m13!1m5!1m1!1s0x33bce8d3339d1545:0x98bf3e71e9fcfc12!2m2!1d121.1712262!2d13.3965994!1m5!1m1!1s0x33bcef0009d5ad05:0xde892a27ba626bd8!2m2!1d121.1405526!2d13.3835555!3e0?entry=ttu&g_ep=EgoyMDI1MDYxNy4wIKXMDSoASAFQAw%3D%3D">
              See Location
            </a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>