<div id="rsvp" class="guest-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="guest-wrap">
          <div class="col-12">
            <div class="section-title section-title4 text-center">
              <h2>Be Our Guest</h2>
              <p>Please reserve before October 20, 2025.</p>
            </div>
          </div>
          <div class="contact-form form-style">
            <form id="rsvp-form" action="submit" class="validate-rsvp-form" method="post" novalidate="novalidate">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <input type="text" placeholder="Your Name*" id="fname" name="name">
                </div>
                <div class="col-12  col-sm-6">
                  <input type="text" placeholder="Your Email*" id="email" name="email">
                </div>
                <div class="col col-sm-6">
                  <select class="form-control" name="guest">
                    <option disabled="" selected="">Number Of Guest*</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="col col-sm-6">
                  <select class="form-control" name="events">
                    <option disabled="" selected="">I Am Attending*</option>
                    <option>Al events</option>
                    <option>Wedding ceremony</option>
                    <option>Reception party</option>
                  </select>
                </div>
                <div class="col-12 text-center">
                  <button id="submit" class="submit">Accept Invitation</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>