<div class="couple-area">
  <div class="container" id="couple">
    <div class="col-l2">
      <div class="section-title text-center">
        <h2>Happy Couple</h2>
        <div class="divider"></div>
      </div>
    </div>
    <div class="couple-item">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 couple-single">
          <div class="couple-img">
            <img src="../../../assets/image/couple/Enhanced_257_2.jpg" alt="">
          </div>
          <div class="couple-content  mt--30">
            <h4>May Princess Rago Manalo</h4>
            <p>Hi I am Princess.</p>
          </div>
          <div class="social-icon">
            <ul class="d-flex">
              <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-square-x-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-square-google-plus"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 couple-single">
          <div class="couple-shape">
            <img src="../../../assets/image/couple2.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 couple-single md-0">
          <div class="couple-img">
            <img src="../../../assets/image/couple/Enhanced_257_1.jpg" alt="">
          </div>
          <div class="couple-content mt--30">
            <h4>Jun Lester Lastimosa Castro</h4>
            <p>Hi I am JL.</p>
          </div>
          <div class="social-icon">
            <ul class="d-flex">
              <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-square-x-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-square-google-plus"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>